page-login {
    ion-content{
        background-image: url("/assets/dmd1.png");
        background-size: cover;
        text-align: center;
    }

    .bg {
        background: linear-gradient(to bottom, #904079 0%, #fff 100%);
    }
}